/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style: none;
}

body {
  text-align: center;
  background: #d6c497;
  font-family: arial, sans-serif;
  color: black;

}

img {
  width: 300px;
  border-radius: 10px;
  border: 5px solid navy;

}

h2 {
  text-decoration: none;
  text-align: center;
  background: #253666;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
